/* .avatar:hover {
    cursor: pointer;
}

.avatar-container {
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   justify-content: center;
   align-items: center;
   width: 70%;
   /* border: 5px solid #0c457d; */
   /* background-color: #0c457d;
   border-radius: 10px;
   padding: 30px;
   box-shadow: 0 4px 12px -2px black;
}

.avatar-container h2 {
    text-align: center;
    background-color: #0c457d;
    color: white;
    padding: 20px;
    font-weight: 200;
    border-radius: 5px;
}
.customize-container .cust-top div img {
    width: 90%; */
    /* justify-content: center; */
    /* align-items: center; */
/* } */



/* .btns {
    display: flex;
    flex-direction: column;
}

.avatar-display {
    display: flex;
    flex-direction: column;
    
}

.avatar-display div {
    display: flex; */
    /* flex-direction: column; */
/* } */

/* Customize Avatar  */
/* .customizations {
    display: flex;
    flex-direction: column;
}

.customize-container .cust-top .changeBtns {
    display: flex;
    justify-content: space-around;
}

.changeBtn {
    background-color: #e8702a;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.customizeBtn {
    background-color: #e8702a;
    border: 5px solid #0c457d;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    
  }


.selections { */
    /* display: flex;
    flex-direction: row; */

/* }

.selections img {
    width: 100px;

    

}  */

.avatar-container .base:hover {
    cursor: pointer;

}

.changeBtns .changeBtn {
    background-color: rgb(255, 64, 129); 
    color: rgb(255, 255, 255);
    width: 200px;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 15px;
    margin: 10px;
}

.changeBtns .changeBtn:hover {
    cursor: pointer;
    opacity: 70%;
}

.customizations .customizeBtn {
    background-color: rgb(255, 64, 129); 
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;

}

.customizations .customizeBtn:hover {
    opacity: 70%;
}

.customizations .customizeBtn:active {
   opacity: 50%;
}

.customizations .customizeBtn:hover {
    cursor: pointer;

}
.selections-container {
    width: 50%;
    /* height: 1000px; */
}

.customizations .selections {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  

}

.scroll-container  {
    scrollbar-color: rgb(255, 64, 129);
}

.selections img {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    width: 70px;
    border: 3px solid white;
    
}

.selections img:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

