body {
  margin: 0;
  background-color: 			#0090ab;
}
header {
  background-color: 		#095786;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 12px -2px black ;
}

header h1 .h1 {
  color: #db4646;
  text-decoration: none ;
}

.head-container nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 35px;
  margin-bottom: 50px;
}

.head-container nav ul li .link {
  text-decoration: none;
  background-color: 		#095786;
  color: 	#e6cea0;
  padding: 15px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0 4px 12px -2px black ;
}

/* Home */

.join {
  display: flex;
  justify-content: center;
}

.join-game {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.join-game button {
  background-color: 	#db4646;
  /* width: 200px; */
  font-size: 40px;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 12px -2px black ;
}




